.search {
    background: linear-gradient(to right, #e1cd99a3, #e9d7a4c2);
    width: 1400px;
    padding-bottom: 20px;
}

table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #fff;
}

.tuoiNguHanh :hover {
    cursor: pointer;
}

.table-search {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-search-goc {
    margin-right: 10px;
}

table.fixed {table-layout:fixed; width:1000px;}/*Setting the table width is important!*/
table.fixed td {overflow:hidden;}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {width:20px;}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {width:20px;}/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {width:40px;}/*Setting the width of column 3.*/

table.table-search td:nth-of-type(2) {width: 120px;}

.red-text {
    color: red;
    font-weight: bold;
}

.table-que-bien {
    width: 280px;
}

.table-que-bien td {
    padding: 8 15px;
}

.table-search-goc th {
    padding: 0 10px;
}



.phan-ngam {
    text-align: left;
    padding-left: 10px;
}

.phan-ngam p {
    margin-top: 10px;
    margin-bottom: 0;
}

.phan-ngam-hao p {
    margin-top: 10px;
    margin-bottom: 0;
}

.dung-than {
    color: hotpink;
    font-weight: bold;
}

.nguyen-than {
    color: #1E90FF;
    font-weight: bold;
}

.cuu-than {
    color: green;
    font-weight: bold;
}

.ky-than {
    color: orange;
    font-weight: bold;
}

.can-chi p {
    padding-right: 10px;
}

.nhat-nguyet {
    // background-color: aliceblue;
    width: 500px;
    text-align: center;
    align-items: center;
    position: relative;
    left: 20%;
    border-style: solid;
    margin-bottom: 10px;
    padding-top: 10px;
}